@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/k22-triline-gothic");
@import url("https://fonts.cdnfonts.com/css/fashion-fetish");

@font-face {
  font-family: "K22 TriLine Gothic";
  font-style: normal;
  font-weight: 400;
  src:
    local("K22 TriLine Gothic"),
    url("https://fonts.cdnfonts.com/s/75721/K22 Tri-Line Gothic.woff")
      format("woff");
}

@font-face {
  font-family: "Fashion Fetish";
  font-style: normal;
  font-weight: 400;
  src:
    local("Fashion Fetish"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Fashion Fetish";
  font-style: italic;
  font-weight: 400;
  src:
    local("Fashion Fetish"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Italic.woff")
      format("woff");
}
@font-face {
  font-family: "Fashion Fetish";
  font-style: normal;
  font-weight: 700;
  src:
    local("Fashion Fetish"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Bold.woff")
      format("woff");
}
@font-face {
  font-family: "Fashion Fetish Outline";
  font-style: normal;
  font-weight: 400;
  src:
    local("Fashion Fetish Outline"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Outline.woff")
      format("woff");
}
@font-face {
  font-family: "Fashion Fetish Light";
  font-style: normal;
  font-weight: 300;
  src:
    local("Fashion Fetish Light"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Light.woff")
      format("woff");
}
@font-face {
  font-family: "Fashion Fetish Small Caps";
  font-style: normal;
  font-weight: 300;
  src:
    local("Fashion Fetish Small Caps"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Small Caps.woff")
      format("woff");
}
@font-face {
  font-family: "Fashion Fetish Heavy";
  font-style: normal;
  font-weight: 900;
  src:
    local("Fashion Fetish Heavy"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Heavy.woff")
      format("woff");
}
@font-face {
  font-family: "Fashion Fetis Lighth";
  font-style: italic;
  font-weight: 300;
  src:
    local("Fashion Fetish Light"),
    url("https://fonts.cdnfonts.com/s/24822/Fashion Fetish Light Italic.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-overlay-container="true"] {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #01204e;
}

h1 {
  font-family: "K22 TriLine Gothic", sans-serif;
}

p {
  font-family: "Fashion Fetish", sans-serif;
}

button,
a {
  font-family: "Fashion Fetish Heavy", sans-serif;
}

.start-first:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}
