@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-overlay-container="true"] {
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #01204e;
}

h1 {
  font-weight: 600;
  font-style: normal;
}

p {
  font-weight: 400;
  font-style: normal;
}

button,
a {
  font-weight: 600;
  font-style: normal;
}

.start-first:hover {
  opacity: 1 !important;
  transform: scale(1.2);
}
